{{template "base" .}}

{{define "content"}}
    
    <div>
        <h1>This is about</h1>
        <p>Paragraph 1</p>

        <p>This comes from the template {{index .StringMap "1"}}.</p>

        <p>
            {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP addres is {{index .StringMap "remote_ip"}}
            {{else}}
                I don't know your IP address. Please visit <a href="/">Home</a>.

            {{end}}
        </p>
    </div>
{{end}}